@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.woff');
    font-weight: 400;
}

:root{
    --primary-font: "Roboto";
    --font-regular: 400;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container_currency{
    background-color: #F6F6F6;
    max-width: 480px;
    margin: 5em auto;
    border-radius: 10px;
}
.currency_cols{
   display: grid;
   padding: 3em 1em;
   row-gap: 1.5em;
}
.currency_title h1{
    margin: 1em 0em;
    font-size: 1.5em;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-family: var(--primary-font);
    color: #1F2261;
    text-align: center;
}
.currency_live_rates p{
    text-align: center;
    font-weight: var(--font-regular);
    font-family: var(--primary-font);
    color: #808080;
}
.amount_rows{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 1em 0em;
}
.amount{
    padding: 1em 0.5em;
}
.amount_rows select{
    border: none;
    background: none;
    width: 35%;
}
.amount_rows input{
    background-color: #EFEFEF;
    border: none;
    outline: none;
    padding: .5em 0em;
    width: 140px;
    border-radius: 7px;
}
.amount_container{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.amount .amount_row p{
    font-family: var(--primary-font);
    font-weight: var(--font-regular);
    line-height: normal;
    font-style: normal;
    color: #808080;
}
.indicative_exchange_rates #indicative_rates{
    font-family: var(--primary-font);
    font-weight: var(--font-regular);
    line-height: normal;
    font-style: normal;
    color: #808080;
    margin: 1em 0em;
}
.indicative_exchange_rates #currency{
   color: #000;
   font-family: var(--primary-font);
   font-weight: 600;
   line-height: normal;

}