*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --main-primary-color: #9395D3;
    --josh-font-family: 'Jost', sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-size-title: 24px
}

@font-face {
    font-family: 'Jost', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap') format('woff');
}

.container_todo{
    width: 414px;
    min-height: 730px;
    margin: auto;
    border: 1px solid var(--main-primary-color);
}
.todo_title{
    background: var(--main-primary-color);
    padding: 3.5em 3em 2em 3em;
}
.todo_title h1{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    color: #fff;
    font-family: var(--josh-font-family);
}
.row_todo_input {
    padding: 4em 2em 3em 2em;
    display: grid;
    align-items: center;
    row-gap: 2em;
}
.row_todo_input input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #8B8787;
    padding: 1em 0em .4em 0em;
    outline: none;
    font-family: var(--josh-font-family);
}
.add_task {
    padding: .8em 1em;
}
.add_task button{
    font-family: var(--josh-font-family);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    background-color: var(--main-primary-color);
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 1.2em 10em;
    color: #fff;
    cursor: pointer;
}
